        .navbar-brand #logo {
            width: 15%;
            height: 15%;
            margin-left: 0%;
            float: left;
        }
        .navbar-nav {
            margin-left: 35px;
        }
        #topul {
            width: 400px;
        }
     
        #topbar {
            height: 80px;
            background-color: #679186 !important;
            color: #fcfdfd !important;
        }
        a.nav-link {
            color: #fcfdfd !important;
            font-weight: 500;
        }
        h3 {
            font-family: Microsoft JhengHei;
            font-weight: 600;

        }
        #user {
            padding-left: 15px;
            padding-top: 3px;
            color: #fcfdfd !important;
        }
        #list {
            font-size: 20px;
            color: #fcfdfd !important;
        }
        #account {
            padding: 3px 10px 3px 10px;
            border: 1px solid #cbd8d0;
            border-radius: 30px;
            margin-left: 20px;
        }
        #topcontainer {
            padding: 0px;
            max-width: 1264px;
        }

              